/* Increase LaTeX math text */
.katex {
  font-size: 1.2em !important;
}

/* Make blockquotes more distinguishable */
.vscode-body blockquote {
  padding: 0.2em 0.4em !important;
  color: black !important;
  background-color: #f6f8fa !important;
  border-left: 0.35em solid #ccc !important;
}

/* make horizontal rule invisible and add PDF page break */
.vscode-body hr {
  height: 0 !important;
  page-break-after: always !important;
}
